body, html, #root, #app {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 90%;
  width: 100%;
  height: 100%;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper {
  height: 47.5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0ad;
}


.color-box {
  border: 1em solid #444;
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

#blog-post {
  text-align: center;
  background-color: orange;
}

#seperator {
  width: 100%;
  height: 5%;
  background-color: grey;
}

.comment {
  width: 80%;
  border: 5px solid purple;
  text-align: center;
  background-color: white;
  padding: 3px;
  margin: 5px;
  border-radius: 10px;
}
